<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="|${#locale.language}-${#locale.country}|">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login EveAssist</title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>
<body>
<p>welcome message</p>
<div layout:fragment="page-content">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900" th:text="#{user.login}">Login</h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
                <form id="register-from" th:object="${user}" th:action="@{/user/doLogin}" method="post">
                    <div class="sm:col-span-3">
                        <label for="email" class="block text-sm font-medium text-gray-700"
                               th:text="#{user.email}">Email address</label>
                        <div class="mt-1 rounded-md shadow-sm">
                            <input id="email" type="text" th:field="*{email}" class="shadow-sm focus:ring-green-500
                            focus:border-green-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="screenName" class="block text-sm font-medium text-gray-700"
                               th:text="#{user.screenName}">Screen name</label>
                        <div class="mt-1 rounded-md shadow-sm">
                            <input id="screenName" type="text" th:field="*{screenName}" class="shadow-sm
                            focus:ring-green-500 focus:border-green-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="password" class="block text-sm font-medium text-gray-700"
                               th:text="#{user.password}">Email address</label>
                        <div class="mt-1 rounded-md shadow-sm">
                            <input id="password" type="password" th:field="*{password}" class="shadow-sm
                            focus:ring-green-500 focus:border-green-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>

                    <div class="mt-8 border-t border-gray-200 pt-5">
                        <div class="flex justify-end">
                            <span class="inline-flex rounded-md shadow-sm">
                                <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md
                                shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none
                                focus:ring-2 focus:ring-offset-2 focus:ring-green-500" th:text="#{cancel}">Cancel
                                </button>
                            </span>
                            <span class="ml-3 inline-flex rounded-md shadow-sm">
                                <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border
                                bordertransparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600
                                hover:bggreen-700 focus:outline-none focus:ring-2 focus:ring-offset-2
                                focus:ring-green-500" th:text="#{user.login}">Login
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/webjars/alpinejs/dist/cdn.min.js}"></script>
</div>
</body>
</html>